body{
    background-image: url('images/background.jpg');
}

ul {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  flex-shrink: 1;
  max-width: 20vh;
  align-self: flex-start;
  justify-content: space-between;
  border: 5px solid lightcoral;
  padding: 5px;
  margin: 5px; 
  border-radius: 25px;
    background-color: aliceblue;
}
    
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.active{
    border-radius: 25px;
    text-decoration: none;
    background: lightcoral;
}

#luxury{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 25px;
    background-color: #FAEAEC;
    width = "1100"
    border: 5px solid coral;
    padding: 5px;
    margin: 5px;    
}
h2{
    text-align: center;
    font-family: 'Lobster', cursive;
    color: palegoldenrod;
    text-align: center;
}
h3 {
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    color: palevioletred;
    text-align: center;
}
p {

    font-family: 'Maven Pro', sans-serif;
}
.picture{
    border-radius: 25px;
    text-align: center;
}

.hotel{
    border: 5px solid coral;
    float: right;
}

.hotel2{
    border: 5px solid coral;
    float: left;
}

.f{
    display: flex;
    align-items: center; 
    justify-content: space-around;
    color: antiquewhite;
    font-size: 15px;
}

span.em{
   font-size: 25px;
}

#text{
     color: white;
    text-align: justify;
}

.box{
/*
    max-width: 740px; 
    color: black;
    display : flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    border: 5px solid coral;
    background-color: aliceblue;
    border-radius: 25px;
    align-items: center; 
    justify-content: center;
*/
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  border-radius: 10px;
    grid-gap: 2px;
    
}


#email,#pwd{
    
/*
    align-content: center; 
    justify-content: center;
    width: 25%;
    padding: 15px 22px;
    margin: 10px 5px;
    border-radius: 25px; 
    font-size: 20px; 
*/
    color: black;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    margin: 10px;
    border-radius: 25px; 
    font-size: 10px; 
}

#button{
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 15px;
    margin: 10px;
    border-radius: 15px; 
    font-size: 10px; 
}


input[type=submit]{
    width: 7%;
    border-radius: 25px;
}


.membership{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  padding: 10px;
}

#firstname,#emailid,#context,#skill,label,#apply{ grid-column-start: 2;color: azure;}

table {
  align-content: center;
  table-layout: fixed;
  width: 90%;
  border-collapse: separate;
  border: 3px solid lightcyan;
}

thead{
  font-family: 'Rock Salt', cursive;
  width: 10%;
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: lightcyan;
}


tr,td {
     font-family: 'helvetica neue', helvetica, arial, sans-serif;
    text-align: center;
  padding: 10px;
    border: 3px solid lightcyan;
}

#apply{
    color: black;
    border: 3px solid white;
    padding: 5px;
    text-decoration: none; 
    background-color: white;
    text-align: center;
    width: 20%;
}

.cancel{
    color: black;
    border: 3px solid white;
    padding: 5px;
    text-decoration: none; 
    background-color: white;
    text-align: center;
    width: 10%;
    position: absolute;
    top: 200px;
  right: 300px;
    
}

.showDialog{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.6);
    display: none;
}

#ThanksDailog #meminfo{
    color: aliceblue;
    text-align: center;
    width: 500px;
    height: 50px;
    margin: 100px auto;
    position: relative;
    border: 5px solid #fff;
}


.showDialog:target{
    display: block;
}


  











       